<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все книги</title>
</head>
<body>
    <a href="/books/add">Создать новую книгу</a>
    <br>
    <a href="/books/search">Искать книгу</a>
    <hr>
    <br>
    <a href="/books?page=0&books_per_page=2">Пагинация</a>
    <br>
    <a href="/books?sort_by_year=true">Сортровка</a>
    <br>
    <a href="/books?page=0&books_per_page=2&sort_by_year=true">Пагинация+сортировка</a>
    <hr>

    <div th:each="book: ${books}">
        <a th:href="@{/books/{id}(id=${book.id})}" th:text="${book.getAuthor() + ', ' + book.getTitle() + ', ' + book.getYear()}"/>
    </div>
</body>
</html>